.multistep{
  width: calc( 100% -  80px);
  height: calc( 100% -  (var(--main-header-height) + 80px));
  margin: 40px;
  border: 1px solid gainsboro;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 3fr;
}


.multistep .list-forms{
  width: 100%;
  height: 100%;
}


details-multistep{
  padding: 10px;
}

@media (max-width : 1400px) {
  .multistep{
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: none;
  }


  details-multistep{
    padding: 0px;
  }

}
