.input-password{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-password .btn-hide{
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  padding: 4px;
}


.input-password .btn-hide:hover{
  background-color: gainsboro;
  border: none;
  border-radius: 8px;
}
