<div class="item-card">
  <div class="top">
    <div class="icon">
      <span>Plan VIP</span>
    </div>
  </div>
  <div class="content">
    <p>Cobertura global de
      <span class="pricing">{{ '3000' | currency}}</span>
    </p>
    <p>Precio por persona
      <span class="pricing" >{{'22' | currency}}</span>
    </p>
    <p>Descuento Mayo
      <span class="pricing sec-color" >{{'11.2' | currency}}</span>
    </p>
    <hr>
    <div class="list-actions">
      <button>
        Descargar Coberturas
      </button>
      <button>
        Seleccionar
      </button>
    </div>
  </div>
  <div class="footer">
  </div>
</div>
