<div class="form-export">
  <div class="list-fields">
    <div class="field  field--border-none field--row">
      <div class="field field--border-none field-50  " >
        <div class="field--title">
          <span>Separador de Columnas</span>
        </div>
        <input-value [data]="typeValue" [placeholder]="'Seleccione tipo valor'" [formControl]="itemFormControl" ></input-value>

      </div>
      <div class="field field--border-none field-50">
        <div class="field--title">
          <span>Separador de Decimales</span>
        </div>
        <input-value [data]="typeValue" [placeholder]="'Seleccione tipo valor'" [formControl]="itemFormControl" ></input-value>

      </div>

    </div>
    <div class="field field--border-none ">
      <div class="field--title">
        <span>Nombre de Archivo</span>
      </div>
      <input type="text" placeholder="Nombre de archivo">

    </div>


    <div class="field field--border-none">
      <button>
        Descargar
      </button>
    </div>

  </div>
</div>
