<form>
  <div class="list-fields  p-0">
    <div class="field field--border-none ">

      <div class="field-title">
        <span>Username</span>
      </div>
      <input placeholder="assistrip" type="text">

    </div>
    <div class="field field--row field--border-none p-0">
      <div class="field field--border-none field-50">

        <div class="field-title">
          <span>Nombre</span>
        </div>
        <input placeholder="Jhon" type="text">

      </div>
      <div class="field field--border-none field-50">
        <div class="field-title">
          <span>Apellidos</span>
        </div>

        <input placeholder="Perez" type="text">
      </div>
    </div>

    <div class="field field--border-none">
      <div class="field-title">
        <span>Telefono</span>
      </div>

      <input placeholder="+591 78140498" type="text">

    </div>

    <div class="field field--border-none">
      <div class="field-title">
        <span>Email</span>
      </div>

      <input placeholder="assistrip@gmail.com" type="text">

    </div>
    <div class="field field--row field--border-none p-0">
      <div class="field field--border-none f-50">
        <div class="field-title">
          <span>Password</span>
        </div>
        <password-input></password-input>
      </div>
      <div class="field field--border-none f-50">
        <div class="field-title">
          <span>Confirm Password</span>
        </div>
        <password-input></password-input>
      </div>
    </div>
    <div class="field field--border-none">
      <div class="field-title">
        <span>Roles</span>
      </div>
      <select-rol></select-rol>

    </div>


    <div class="field field--border-none">
      <button type="button">
        <i class="fa-solid fa-user-plus"></i>
        <span>Crear Nuevo Usuario</span>
      </button>
    </div>


  </div>

</form>
