.quantity-mod {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 20px; */
}



button{
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .quantity-mod {
    display: flex;
    flex-wrap: nowrap;
  }

  .center{
    padding: 0px 10px;
  }

  button{
    margin: 0px 5px;
  }

}
