<div class="page">
  <div class="login">
    <div class="form-login">
      <div class="top">
        <img src="assets/svg/logo_img.png" alt="">
        <div class="form-login-title">
          <span> Assistrip - CRM </span>
        </div>
      </div>

      <div class="list-fields">
        <div class="field field--border-none">
          <div class="field-title">
            <span>Usuario</span>
          </div>
          <input type="text" placeholder="Ingresa tu Usuario">
        </div>
        <div class="field field--border-none">
          <div class="field-title">
            <span>Password</span>
          </div>
          <password-input></password-input>
        </div>
        <hr>
        <div class="field field--border-none">
          <button>Ingresar</button>
        </div>
      </div>

    </div>
  </div>
</div>
