.container-table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  gap: 20px;
  max-width: 80vw;
  height: 550px;
  position: relative;
  width: fit-content;

}

.custom-table{
  width: 100%;
  max-width: 100%;
  overflow: auto;
  position: relative;
}

.top-table{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.actions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.actions button{
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.actions button i{
  padding-right: 20px;
}


button.btn-add{
  background-color: var(--main-color-secondary);
  color: white;
}

button.btn-add:hover{
  background-color: var(--main-color);
}

button.btn-filter{
  background-color: var(--secondary-color);
  color: white;
}


.custom-table{
  width: fit-content;
  border: 1px solid gainsboro;
  border-radius: 8px;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}


.custom-table .titles{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width:fit-content;
  padding: 0px 10px;
  position: sticky;
  top: 0;
  background-color: var(--body-bg);
}


.custom-table .items{
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

}

.items hr{
  width: 100%;
  border: 1px solid gainsboro;
}



@media (max-width:768px) {

  .actions{
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .actions button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 40px;
  }

}
