<div class="container-table">
  <div class="top-table">
    <div class="actions">
      <button class="btn-add">
        <i class="fa-solid fa-plus-minus"></i>
        <span>Agregar</span>
      </button>
      <button class="btn-export">
        <i class="fa-solid fa-file-export"></i>
        <span>Exportar lista</span>
      </button>
      <button class="btn-filter">
        <i class="fa-solid fa-filter"></i>
        <span>Filtrar</span>
      </button>
    </div>
  </div>
  <div class="custom-table">
    <div class="titles">
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>
      <column-title></column-title>

    </div>
    <div class="items">
      <custom-item></custom-item>
      <custom-item></custom-item>
      <custom-item></custom-item>
      <custom-item></custom-item>
      <custom-item></custom-item>
      <custom-item></custom-item>
      <custom-item></custom-item>
      <custom-item></custom-item>

    </div>
  </div>
</div>
