<div class="error-log">

  <div class="list-fields">
    <div class="field field--border-none p-0">
      <div class="field-title ">
        <span>
          Fecha incidente
        </span>
      </div>
      <span>
        <div class="time">
          <span>2024-01-12|10:53:12</span>
        </div>
      </span>
    </div>
    <div class="field field--border-none p-0">
      <div class="field-title">
        Usuario
      </div>
      <span>
        {{'walteribanez555@gmail.com'}}
      </span>
    </div>

    <div class="field field--border-none  p-0">
      <div class="field-title">
        Respuesta
      </div>
      <span>Cors Policy Problem</span>
    </div>


  </div>
</div>
