<div class="quote">
  <div class="left">
    <div class="top">
      Detalles de tu cotizacion
    </div>

    <div class="list-fields">
      <div class="field">
        <span class="field--title">
          Destino
        </span>
        <div class="field-detail">
          <span>Europa</span>
        </div>
      </div>
      <div class="field">
        <span class="field--title">
          Fecha de salida
        </span>
        <div class="field-detail">
          <span>17-01-2024</span>
        </div>
      </div>
      <div class="field">
        <div class="field--title">
          Fecha de retorno
        </div>
        <div class="field-detail">
          <span>27-01-2024</span>
        </div>
      </div>
      <div class="field">
        <div class="field--title">
          Cantidad de dias
        </div>
        <div class="field-detail">
          <span>10</span>
        </div>
      </div>
      <div class="field">
        <span class="field--title">
          Pasajeros
        </span>
        <div class="field-detail">
          <span>3 adultos</span>
          <span>2 menores</span>
        </div>
      </div>
      <div class="field">
        <span class="field--title">
          Plan
        </span>
        <div class="field-detail">
          <span>Euro Red</span>
        </div>
      </div>
      <div class="field">
        <span class="field--title">
          Extras
        </span>
        <div class="field-detail">
          <span>Asistencia</span>
          <span>Negacion de visa</span>
          <span>Retorno de viaje</span>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
      <div class="top">
        Total a Pagar
      </div>
      <div class="list-fields  ">
        <div class="field field--row field--border-none">
          <span>Vouchers</span>
          <span>150$</span>
        </div>
        <div class="field field--row field--border-none">
          <span>Extras</span>
          <span>25$</span>
        </div>
        <div class="field field--row field--border-none">
          <span>Descuentos</span>
          <span>30$</span>
        </div>
        <div class="field field--border-none">
          <span>Tienes algun codigo de descuento?</span>
          <input type="text" placeholder="Codigo de descuento">
          <button>Aplicar</button>
        </div>
        <hr>
        <div class="field field--row field--border-none">
          <span>Monto total</span>
          <span>150$</span>
        </div>





      </div>

      <div class="top">
        Guarda la cotizacion para despues
      </div>
      <div class="list-fields">
        <div class="field" style="align-items: center;">
          <canvas id="qrQuote" ></canvas>
        </div>
        <div class="field field--border-none">
          <button>Descargar Cotizacion</button>
        </div>
      </div>


  </div>

</div>
