.list-forms{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:center;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}


.vouchers{
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}



@media (max-width: 768px) {
  .vouchers{
   display: flex;
   flex-direction: column-reverse;
  }

  .details-forms{
    position: static;
  }

}
