<div class="data fr-1">
  <div class="data-title">
    <span>Crear nuevo Rol</span>
  </div>

  <div class="rol-form">


    <div class="list-fields">
      <div class="field field--row field--border-none p-0">
        <div class="field  field--border-none field-50">
          <div class="field-title">
            <span>Nombre del Rol</span>
          </div>
          <input type="text"  placeholder="Administrador">
        </div>
        <div class="field field--border-none field-50">



        </div>

      </div>

      <div class="field field--border-none field-50">
        <div class="field-title">
          <span>Politicas de Rol</span>
        </div>
        <input-code></input-code>
      </div>

    </div>

    <div class="list-fields">
      <div class="field field--border-none">
        <div class="details">
          <span>Acciones</span>
        </div>
      </div>
      <div class="field field--border-none">
        <button>Crear</button>
        <button>Ir al listado</button>
      </div>
    </div>

  </div>

</div>
