.list-tags{
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-y: auto;
  width: 100%;
  max-width: 720px;
}


@media (max-width:768px) {
  .list-tags{
    max-width: 300px;
  }

}

