@keyframes displaylist {
  0% {
    max-height: 0;
    overflow: hidden;
    scrollbar-gutter: stable;
  }
  99%{
    overflow: hidden;
  }

  100% {
    max-height: 500px;
    overflow: auto;
    scrollbar-gutter: stable;
  }
}




.sub-menu-wrap {
  position: absolute;
  top: 100%;
  left: 10px;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  border: 1px solid gainsboro;
  border-radius: 8px;
  margin: 10px 0px;
  animation: displaylist 0.5s forwards;
  background-color: white;
  z-index: 1;
  scrollbar-gutter: stable;
}

.sub-menu {
  padding: 20px;
}



