<div class="voucher-form">
  <div class="list-fields">
    <div class="field field--border-none">
      <div class="field--title ">
        <span>Nro de Voucher : {{positionElement}}</span>
      </div>
    </div>
    <div class="field field--border-none">
      <div class="field--title ">
        <span>Datos personales</span>
      </div>
      <hr>
    </div>
    <div class="field field--border-none">
      <div class="field--title ">
        <span>Nombres</span>
      </div>
      <input type="text" placeholder="Jhon" >
    </div>

    <div class="field field--border-none">
      <div class="field--title ">
        <span>Apellidos</span>
      </div>
      <input type="text" placeholder="Perez" >
    </div>

    <div class="field field--border-none">
      <div class="field--title ">
        <span>Nro Identificacion o Pasaporte</span>
      </div>
      <input type="text"  placeholder="ABC-889214">
    </div>

    <div class="field field--border-none">
      <div class="field--title ">
        <span>Fecha de Nacimiento</span>
      </div>
      <input type="text" placeholder="07-01-2002">
    </div>

    <div class="field field--border-none">
      <div class="field--title ">
        <span>Genero</span>
      </div>
      <input type="text"  placeholder="Masculino">
    </div>

    <div class="field field--border-none">
      <div class="field--title ">
        <span>Pais de Residencia</span>
      </div>
      <input type="text" placeholder="Bolivia">
    </div>



    <div class="field field--border-none">
      <div class="field--title ">
        <span>Email personal</span>
      </div>
      <input type="text" placeholder="jhonperez@gmail.com" >
    </div>

    <div class="field field--border-none">
      <div class="field--title ">
        <span>Numero personal</span>
      </div>
      <input type="text" placeholder="123-123123123">
    </div>


    <div class="field field--border-none">
      <div class="field--title ">
        <span>Datos de Contacto</span>
      </div>
    </div>
    <hr>


    <div class="field field--border-none">
      <div class="field--title ">
        <span>Persona de Contacto</span>
      </div>
      <input type="text" placeholder="Tim  Jhonson">
    </div>

    <div class="field field--border-none">
      <div class="field--title ">
        <span>Numero de Contacto</span>
      </div>
      <input type="text" placeholder="123-123123123">
    </div>






  </div>



</div>
