.list.li--ovhidden {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  padding-right: 7px;
}



.li--ovhidden::-webkit-scrollbar {
  width: 7px;
}
.li--ovhidden::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.li--ovhidden::-webkit-scrollbar-thumb {
  background: var(--main-color);

  border-radius: 25px;
}
.li--ovhidden::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
/* .li--ovhidden li {
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}
.options li:hover,
li.selected {
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.4);
} */
